.SettingWindow {

}

.settings {
    width: 80%;
    height: 50%;
    border: 3px solid #466b9f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.valueFlex{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #bdbdbd;
    gap: 30px;
    font-size: 30px;
}